@model ServiceFormVM

@section Header {
     Edit Services
}

<div class="col-md-12">


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit</h3>
        </div>


        <form asp-controller="Services" asp-action="Edit" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="card-body">
                <input type="hidden" asp-for="ImageName" />

                <input type="hidden" aasp-for="Id">
                <div class="form-group">
                    <label asp-for="Name">Service name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter the neme">
                </div>

                <div class="form-group">
                    <label asp-for="Description">Service Description</label>
                    <input asp-for="Description" class="form-control textarea" placeholder="Enter the Description">
                </div>

                <div class="form-group">
                    <label asp-for="IsDeleted">@(Model.IsDeleted ? "The status is 'Deleted'. Do you want to leave it like this ?" : "The status is 'Active'. Do you want to delete it ?")</label>
                    <input asp-for="IsDeleted">
                    <span>yes</span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control-file imageInput" />
                </div>

                <div class="form-group">
                    <img src="#" id="imagePreview" style="display: none;" width="80px" />
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.tiny.cloud/1/vi55yhuz399eu4daqrnjdj5h8kie6w4s5nrmyiavci7xu7mv/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>


@section scripts {
    <script>
        tinymce.init({
            selector: '.textarea'
        });
        document.querySelector(".imageInput").addEventListener("change", (event) => {
            const file = event.target.files[0];
            const imagePreview = document.querySelector("#imagePreview");

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = "block";
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}