@model LoginVM 
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <img src="~/auth/images/signin-image.jpg" />
                <a asp-controller="Account" asp-action="Register" class="signup-image-link">Create an account</a>
                <a asp-controller="Account" asp-action="Forgotpassword" class="signup-image-link">Forgot the password ?</a>

            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign up</h2>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="validation-summary">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }
                @if (TempData["Message"] != null)

                {
                    <div style="color:yellow " >
                        @TempData["Message"]
                    </div>
                }

                <form method="POST" class="register-form" id="login-form" asp-controller="Account" asp-action="Login">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label asp-for="Email"><i class="zmdi zmdi-email"></i></i></label>
                        <input asp-for="Email" placeholder="Your Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="RememberMe" class="agree-term" type="checkbox" />
                        <label asp-for="RememberMe" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>
             
            </div>
        </div>
    </div>
</section>
<script>

    <partial name="_ValidationScriptsPartial" />

</script>


