@model PortfolioFormVM
Portfolio
@section Header {
     Edit Portfolios
}

<div class="col-md-12">


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit</h3>
        </div>


        <form asp-controller="Portfolios" asp-action="Edit">
            @Html.AntiForgeryToken()
            <div class="card-body">
                

                <input type="hidden" aasp-for="Id">
                <div class="form-group">
                    <label asp-for="Name">Service name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter the neme">
                </div>

            

                <div class="form-group">
                    <label asp-for="IsDeleted">@(Model.IsDeleted ? "The status is Deleted , do you want let it like this ?" : "The status is Active , Do you want to delete it?")</label>
                    <input asp-for="IsDeleted">
                    <span>yes</span>
                </div>
             

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>