@model IEnumerable<PortfoliosVM>



@section Header {
     Portfolios
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Portfolios Table</h3>
        </div>

        <div class="card-body">
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            
                            <td>
                                <a asp-controller="Portfolios" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-controller="Portfolios" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                <a asp-controller="Portfolios" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                       
                    }
                </tbody>
            </table>
        </div>

        
    </div>


</div>
